<%- include ('partials/header.ejs');%>

<%- include ('partials/header_navbar.ejs');%>

<body>
     <div class="container mt-5">

          <div class="card">
               <div class="card-header">
                    <h1>Operação com FUNDOS IMOBILIÁRIOS:</h1>
               </div>
               <div class="card-body">
                    <form method="post" action="/fii/new">
                         <div class="form-group mt-2">
                              <label for="tickerFII">Ticker do Fundo:</label>
                              <input class="form-control" type="text" name="tikerFII" placeholder="Exemplo: BTLG11, MXRF11" required>
                         </div>
                         <div class="form-group mt-2">
                              <label for="dateFII">Data da operação:</label>
                              <input class="form-control" type="date" name="dateOperationFII" required>
                         </div>
                         <div class="form-group mt-2">
                              <label for="operationDetails">Operação de:</label>
                              <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value="buy" name="typeOperationBuyFII">
                                   <label class="form-check-label" for="checkBuy">
                                     COMPRA
                                   </label>
                              </div>
                              <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value="sale" name="typeOperationSaleFII">
                                   <label class="form-check-label" for="checkSale">
                                     VENDA
                                   </label>
                              </div>
                         </div>
                         <div class="form-group mt-2">
                              <label for="quantyOperation">Quantidade:</label>
                              <input class="form-control" type="number" name="quantyOperationFII" step="1" min="1" placeholder="Exemplo: 150" required>
                         </div>
                         <div class="form-group mt-2">
                              <label for="valueOperation">Valor:</label>
                              <input class="form-control" type="number" name="valueOperationFII" step="0.01" min="0.01" placeholder="Exemplo: 1.000,55" required>
                         </div>
                         <button class="btn btn-outline-success" type="submit">Salvar Operação</button>
                    </form>
               </div>
          </div>
     <div>
</body>

<%- include ('partials/footer.ejs');%>